<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Hex-Conversion</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation">
                  </div>
              </div>
              <a href="/index" class="logo"><b>在线机器学习</b></a>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    {% if g.user %}
                    <li><a class="logout" href="/logout">LOGOUT</a></li>
                    {% else %}
                    <li><a class="logout" href="/login">SIGNIN</a></li>
                    <li><a class="logout" href="/register">SIGNUP</a></li>
                    {% endif %}
            	</ul>
            </div>
      </header>

      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered">
                      <a href="profile.html">
                          <img src="assets/img/ui-sam.jpg" class="img-circle" width="60">
                      </a>
                  </p>
              	  <h5 class="centered">{{ g.user.name }}
                  </h5>

                  <li class="mt">
                      <a class="active" href="/index">
                          <i class="fa fa-dashboard"></i>
                          <span>欢迎页</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>分类算法</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/dtree">决策树</a></li>
                          <li><a  href="/knn">K最近邻算法</a></li>
                          <li><a  href="/naivebayes">朴素贝叶斯算法</a></li>
                          <li><a  href="/svm">支持向量机</a></li>
                          <li><a  href="/xgboost">XGBoost</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>聚类算法</span>
                      </a>
                      <ul class="sub">
                          <li><a  href=""></a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>神经网络</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html"></a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>其他功能</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/hex_conversion">进制转换</a></li>
                          <li><a  href="/hex_base">base64转码</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>娱乐模块</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="">贪吃蛇</a></li>
                          <li><a  href="">战机游戏</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>待定</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">待定</a></li>
                          <li><a  href="chartjs.html">待定</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
              <div class="text-center">
                      <h2>Hex-Conversion</h2>
                  <h1>进制转换<h1>
			</div>
            <script language="javascript">
        function test()
        {
            var num=document.getElementById("in").value;
            var type=document.getElementById("title");
            var tynum,to;
            for(var i=0;i<type.length;i++)
            {
                if(type[i].selected)
                tynum=parseInt(type[i].value);
            }
            switch(tynum)
            {
                case(1):to=parseInt(num).toString(2);break;
                case(2):to=parseInt(num).toString(8);break;
                case(3):to=parseInt(num).toString(16);break;
                case(4):to=parseInt(num,2);break;
                case(5):to=parseInt(num,8);break;
                case(6):to=parseInt(num,16);break;
                case(7):to=parseInt(num,2).toString(8);break;
                case(8):to=parseInt(num,8).toString(2);break;
                case(9):to=parseInt(num,2).toString(16);break;
                case(10):to=parseInt(num,16).toString(2);break;
                case(11):to=parseInt(num,8).toString(16);break;
            case(12):to=parseInt(num,16).toString(8);break;
            }
            if(isNaN(to))  to="非法字符，请重新输入！";
            document.getElementById("out").value=to;
        }
        </script>
        <br><select name="title" id="title" style="width:152px;">
            <option value="1">十进制转二进制</option>
            <option value="2">十进制转八进制</option>
            <option value="3">十进制转十六进制</option>
            <option value="4">二进制转十进制</option>
            <option value="5">八进制转十进制</option>
            <option value="6">十六进制转十进制</option>
            <option value="7">二进制转八进制</option>
            <option value="8">八进制转二进制</option>
            <option value="9">二进制转十六进制</option>
            <option value="10">十六进制转二进制</option>
            <option value="11">八进制转十六进制</option>
            <option value="12">十六进制转八进制</option>
        </select><br>
              <input  placeholder="请输入待转换的数字" type="text" id="in" /><br>
        &nbsp
        <input  placeholder="这里会显示您的输出结果" type="text" id="out" /><br>
              <input  id="mybutton" type="button" value="转换" onclick="test()" />
  </body>
   <style type="text/css">
 #mybutton {
     	width:200px;height:50px;position:absolute;top:50%;left:48.5%;margin-left:50px;margin-top:40px

        padding:8px;
        background-color: #428bca;
        border-color: #357ebd;
        color: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-weight: 900;
        font-size:100%
      }
      #title{
      	width:500px;height:30px;position:absolute;top:35%;left:50%;margin-left:50px;margin-top:40px
      }
      #in{
      	width:800px;height:30px;position:absolute;top:25%;left:30%;margin-left:50px;margin-top:40px
      }
      #out{
      	width:800px;height:30px;position:absolute;top:30%;left:30%;margin-left:50px;margin-top:40px
      }
    </style>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  </body>
</html>
