<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Base64-Translation</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation">
                  </div>
              </div>
              <a href="/index" class="logo"><b>在线机器学习</b></a>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    {% if g.user %}
                    <li><a class="logout" href="/logout">LOGOUT</a></li>
                    {% else %}
                    <li><a class="logout" href="/login">SIGNIN</a></li>
                    <li><a class="logout" href="/register">SIGNUP</a></li>
                    {% endif %}
            	</ul>
            </div>
      </header>

      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <ul class="sidebar-menu" id="nav-accordion">
              	  <p class="centered">
                      <a href="profile.html">
                          <img src="assets/img/ui-sam.jpg" class="img-circle" width="60">
                      </a>
                  </p>
              	  <h5 class="centered">{{ g.user.name }}
                  </h5>

                                    <li class="mt">
                      <a class="active" href="/index">
                          <i class="fa fa-dashboard"></i>
                          <span>欢迎页</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>分类算法</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/dtree">决策树</a></li>
                          <li><a  href="/knn">K最近邻算法</a></li>
                          <li><a  href="/naivebayes">朴素贝叶斯算法</a></li>
                          <li><a  href="/svm">支持向量机</a></li>
                          <li><a  href="/xgboost">XGBoost</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>聚类算法</span>
                      </a>
                      <ul class="sub">
                          <li><a  href=""></a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>神经网络</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html"></a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>其他功能</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/hex_conversion">进制转换</a></li>
                          <li><a  href="/hex_base">base64转码</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>娱乐模块</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="">贪吃蛇</a></li>
                          <li><a  href="">战机游戏</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>待定</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">待定</a></li>
                          <li><a  href="chartjs.html">待定</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
              <div class="text-center">
                      <h2>Base64-Conversion</h2>
                  <h1>Base64转码<h1>
			</div>
              <input type="file" value="" id="file_input"/><br/>
                <textarea id="result" rows="10" cols="100"></textarea><br/>
                <input  id="inputBase" type="text">
                <button id="showImg">显示图片</button><br/>
                <img id="img"></img>
<script>
    window.onload = function () {
        var file_input = document.getElementById( "file_input" ),
                result = document.getElementById( "result" ),
                inputBase=document.getElementById( "inputBase" ),
                showImg=document.getElementById( "showImg" );

        function readFile() {
            var file = this.files[0];
            var reader = new FileReader();
            reader.readAsDataURL( file );
            reader.onload = function ( e ) {
                result.innerHTML= this.result;
            }
        }
        if ( typeof(FileReader) === 'undefined' ) {
            result.innerHTML = "请使用新版google浏览器";
            file_input.setAttribute( 'disabled', 'disabled' );
        }
        else {
            file_input.addEventListener( 'change', readFile, false );
        }
        showImg.addEventListener( 'click', function(){
            debugger;
            document.querySelector("img" ).src=inputBase.value;
        }, false );
    };
</script>
   <style type="text/css">
		#showImg {
     	width:200px;
     	height:50px;
     	position:absolute;
     	top:90%;left:48.5%;
     	margin-left:50px;
     	margin-top:40px
        padding:8px;
        background-color: #428bca;
        border-color: #357ebd;
        color: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-weight: 900;
        font-size:100%
      }
      #result{
      	width:800px;height:150px;position:absolute;top:25%;left:30%;margin-left:50px;margin-top:40px
      }
      #file_input{
      	width:800px;height:150px;position:absolute;top:18%;left:30%;margin-left:50px;margin-top:40px
      }
      #inputBase{
      	width:800px;height:150px;position:absolute;top:55%;left:30%;margin-left:50px;margin-top:40px
      }
      </style>
</body>
</html>